SOUL_CHANNEL = staging
SOUL_CHANNEL_BUNDLE_SUFFIX = .staging
SOUL_CHANNEL_NAME_SUFFIX =  Staging
SOUL_REGISTRY_PATH = $(HOME)/soul_registry
CHANNEL_PRODUCT_NAME = Soul-Desktop Staging
PRODUCT_BUNDLE_IDENTIFIER = com.test.Soul-Desktop$(SOUL_CHANNEL_BUNDLE_SUFFIX)
PRODUCT_NAME = $(CHANNEL_PRODUCT_NAME)
PRODUCT_MODULE_NAME = Soul_Desktop
INFOPLIST_KEY_CFBundleDisplayName = Soul-Desktop Staging
INFOPLIST_KEY_SOULChannel = $(SOUL_CHANNEL)
INFOPLIST_KEY_SOULRegistryPath = $(SOUL_REGISTRY_PATH)
