SOUL_CHANNEL = production
SOUL_CHANNEL_BUNDLE_SUFFIX =
SOUL_CHANNEL_NAME_SUFFIX =
SOUL_REGISTRY_PATH = $(HOME)/soul_registry
CHANNEL_PRODUCT_NAME = Soul-Desktop
PRODUCT_BUNDLE_IDENTIFIER = com.test.Soul-Desktop
PRODUCT_NAME = $(CHANNEL_PRODUCT_NAME)
PRODUCT_MODULE_NAME = Soul_Desktop
INFOPLIST_KEY_CFBundleDisplayName = Soul-Desktop
INFOPLIST_KEY_SOULChannel = $(SOUL_CHANNEL)
INFOPLIST_KEY_SOULRegistryPath = $(SOUL_REGISTRY_PATH)
